# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Next
.next
out

# Env & local data
.env
.env.*
*.sqlite
*.db
data/

# Misc
.DS_Store
coverage
.DS_Store
